{% extends "base.html" %}

{% block content %}

<form class="centered-text" action="/evaluate" method="get">
  <label class="fancy-label">
    <input type="text" name="expr" required>
    <div class="label-text">your expression</div>
  </label>
  <div class="fancy-buttons flex flex-column flex-centered">
    <button class="fancy-button" type="submit" name="action" value="table">
      Tablify
    </button>
    <button class="fancy-button" name="action" value="satone">
      Satisfy (once)
    </button>
    <button class="fancy-button" name="action" value="satall">
      Satisfy (all)
    </button>
  </div>
</form>

{% endblock %}